<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Authors</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>List of Authors</h1>
    <% if (authors.length > 0) { %>
        <ul>
            <% authors.forEach(author => { %>
                <li><%= author.name %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No authors has been found.</p>
    <% } %>
</body>
</html>
