<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Books</title>
</head>
<body>
    <% include partials/navigation %>

    <h1>List of Books</h1>
    <% if (books.length > 0) { %>
        <ul>
            <% books.forEach(book => { %>
                <li>
                    <a href="/book/<%= book.id %>">
                        <%= book.title %> by <%= book.author %>
                    </a>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No books has been found.</p>
    <% } %>
</body>
</html>


