<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <% include partials/navigation %>

    <div>
        <h1>Book Details</h1>
        <p>Title: <%= book.title %></p>
        <p>Author: <%= book.author %></p>
        <!-- Dodaj inne właściwości książki w razie potrzeby -->
    </div>
</body>
</html>
